.about {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: url(../assets/img/intro-bg-inverted.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;

    gap: 80px;
}

.about-info-box {
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-end;
    align-content: center;

    gap: 20px;
}

.about-info-title {
    align-self: flex-start;

    font-size: 55px;
    font-family: 'ArcaMajora3-Heavy';

    text-align: start;
}

.about-info-desc {
    line-height: 20px;

    font-size: 16px;
    font-family: 'Lexend-ExtraLight';

    text-align: start;
}

.about-cv-button {
    width: 140px;
    height: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    align-self: flex-start;

    margin-top: 5px;

    background-color: var(--toxyc-color);
    border-radius: 8px;

    transition: .5s;
}

.about-cv-text {
    font-size: 15px;
    font-family: 'ArcaMajora3-Bold';

    text-align: center;

    color: var(--contrast-text);

    user-select: none;
}

.about-cv-button:hover {
    cursor: pointer;

    transition: .5s;

    transform: translateY(-5px);
    filter: brightness(120%) drop-shadow(0px 10px 10px var(--about-cv-brightness));
}

.about-cv-button:active {
    cursor: pointer;

    transition: .5s;

    transform: scale(95%) translateY(-5px);
}

.about-picture-box {
    width: 30%;
    height: 40%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.about-picture {
    width: 350px;
    height: 490px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 18px;

    background: #ffffff23;

    border: 2px solid var(--toxyc-color);
}

@media screen and (max-width: 1075px) {
    .about-picture-box {
        width: 20%;
        height: 30%;
    }

    .about-picture {
        width: 220px;
        height: 340px;
    }

    .about-info-title {
        font-size: 40px;
    }

    .about-info-desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 790px) {
    .about {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .about-picture-box {
        width: 20%;
        height: 30%;
    }

    .about-picture {
        width: 185px;
        height: 240px;
    }

    .about-info-box {
        align-items: center;
        width: 80%;
        height: 40%;
    }

    .about-info-title, .about-info-desc, .about-cv-button {
        align-self: center;
        text-align: center;
    }
}