.navbar {
    position: fixed;

    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    align-content: center;

    user-select: none;
}

.navbar-logo {
    height: 45px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    padding-left: 40px;
}

.navbar-list {
    height: 100%;
    width: 17%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-end;
    align-items: center;
    align-content: center;

    margin: 0px;
    padding-right: 40px;

    gap: 30px;

    list-style: none;
}

.navbar-element {
    transition: .5s;
}

.navbar-element:hover {
    cursor: pointer;

    transition: .5s;
    filter: drop-shadow(0px 0px 10px var(--navbar-brightness));
}

.navbar-element h3 {
    font-size: 14px;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 720px) {
    .navbar {
        justify-content: center;
    }

    .navbar-logo {
        padding: 0px;
    }

    .navbar-list {
        display: none;
    }
}