.project-element {
    position: relative;

    width: 400px;
    height: 280px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--projects-bg);

    border: 2px solid var(--projects-border);
    border-radius: 18px;

    transition: .5s;
}

.project-info {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    text-align: start;

    gap: 15px;
}

.project-name {
    font-size: 30px;
    font-family: 'ArcaMajora3-Bold';
}

.project-desc {
    line-height: 18px;

    font-size: 14px;
    font-family: 'Lexend-ExtraLight';

    text-align: center;
}

.project-image {
    position: absolute;

    height: 180px;

    justify-self: flex-end;

    top: 70%;
    opacity: 0;

    border: 2px solid var(--projects-border);
    border-radius: 12px;

    filter: drop-shadow(0px 0px 10px #000);

    z-index: 3;

    transition: .5s;
}

.project-element:hover .project-image {
    transition: .5s;

    opacity: 1;
    transform: translateY(-30%);
}

@media screen and (max-width: 1360px) {
    .project-element {
        width: 400px;
        height: 250px;
    }

    .project-name {
        font-size: 25px;
    }

    .project-desc {
        font-size: 12px;
    }

    .project-image {
        height: 200px;

        top: 65%;
    }
}

@media screen and (max-width: 1024px) {
    .project-element {
        width: 350px;
        height: 200px;
    }

    .project-name {
        font-size: 20px;
    }

    .project-desc {
        font-size: 10px;
    }

    .project-image {
        height: 170px;

        top: 65%;
    }
}

@media screen and (max-width: 920px) {
    .project-element {
        width: 250px;
        height: 140px;
    }

    .project-info {
        gap: 5px;
    }

    .project-name {
        font-size: 18px;
    }

    .project-desc {
        font-size: 8px;
    }

    .project-image {
        height: 120px;

        top: 70%;
    }
}

@media screen and (max-width: 500px) {
    .project-image {
        height: 150px;
    }
}