.projects {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: url(../assets/img/intro-bg-inverted.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;

    gap: 20px;
}

.projects-title {
    font-size: 55px;
    font-family: 'ArcaMajora3-Heavy';
    text-align: center;
}

.projects-list {
    width: 80%;
    height: 72%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 40px;
}

@media screen and (max-width: 1366px) {
    .projects {
        gap: 90px;
    }

    .projects-list {
        height: 20%;
    }
}

@media screen and (max-width: 920px) {
    .projects {
        gap: 60px;
    }

    .projects-list {
        gap: 50px;
    }

    .projects-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .projects {
        gap: 120px;
    }

    .projects-list {
        height: 40%;
        gap: 50px;
    }
}