.skills {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: url(../assets/img/intro-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    gap: 80px;
}

.skills-animation {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-start;
    align-content: center;

    filter: hue-rotate(338deg) drop-shadow(0px 0px 10px var(--toxyc-color));
}

.skills-box {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 30px;
}

.skills-title {
    font-size: 55px;
}

.hard-skills {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 20px;
}

@media screen and (max-width: 1630px) {
    .skills-box {
        gap: 80px;
    }
}

@media screen and (max-width: 1366px) {
    .skills-box {
        gap: 80px;
    }
}

@media screen and (max-width: 1024px) {
    .skills-box {
        gap: 10px;
    }

    .skills-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 770px) {
    .skills {
        flex-direction: column-reverse;

        gap: 30px;
    }

    .skills-animation {
        width: 100%;
        height: 30%;
    }

    .skills-box {
        width: 100%;
        height: 40%;

        gap: 10px;
    }

    .hard-skills {
        height: 50%;
    }
}

@media screen and (max-width: 470px) {
    .skills-box {
        gap: 50px;
    }
}