.skill-element {
    position: relative;

    height: 80px;
    width: 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: var(--skills-default-bg);
    border: 2px solid var(--skills-default-border);
    border-radius: 12px;

    overflow: hidden;

    transition: .5s;
}

.skill-name {
    font-size: 23px;
    text-align: center;

    user-select: none;

    z-index: 3;
}

.skill-image {
    position: absolute;

    height: 120%;

    left: 100%;
    top: 30%;
    opacity: 0;

    filter: drop-shadow(0px 0px 10px #0000009c);

    z-index: 2;
    transition: .5s;
}

.skill-element:hover .skill-image {
    transition: .5s;

    opacity: 1;
    transform: translate(-90%, -30%);
}

@media screen and (max-width: 1470px) {
    .skill-element {
        height: 60px;
        width: 140px;
    }

    .skill-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 1070px) {
    .skill-element {
        height: 50px;
        width: 140px;
    }

    .skill-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 870px) {
    .skill-element {
        height: 50px;
        width: 140px;
    }
}



/* Colors for different skills */

.skill-element[skill="HTML"]:hover {
    transition: .5s;

    background: var(--skill-html-bg);
    border: 2px solid var(--skill-html-border);

    filter: drop-shadow(0px 0px 10px var(--skill-html-bg));
}

.skill-element[skill="CSS"]:hover {
    transition: .5s;

    background: var(--skill-css-bg);
    border: 2px solid var(--skill-css-border);

    filter: drop-shadow(0px 0px 10px var(--skill-css-bg));
}

.skill-element[skill="JavaScript"]:hover {
    transition: .5s;

    background: var(--skill-javascript-bg);
    border: 2px solid var(--skill-javascript-border);

    filter: drop-shadow(0px 0px 10px var(--skill-javascript-bg));
}

.skill-element[skill="React"]:hover {
    transition: .5s;

    background: var(--skill-react-bg);
    border: 2px solid var(--skill-react-border);

    filter: drop-shadow(0px 0px 10px var(--skill-react-bg));
}

.skill-element[skill="Java"]:hover {
    transition: .5s;

    background: var(--skill-java-bg);
    border: 2px solid var(--skill-java-border);

    filter: drop-shadow(0px 0px 10px var(--skill-java-bg));
}

.skill-element[skill="Kotlin"]:hover {
    transition: .5s;

    background: var(--skill-kotlin-bg);
    border: 2px solid var(--skill-kotlin-border);

    filter: drop-shadow(0px 0px 10px var(--skill-kotlin-bg));
}

.skill-element[skill="SQL"]:hover {
    transition: .5s;

    background: var(--skill-sql-bg);
    border: 2px solid var(--skill-sql-border);

    filter: drop-shadow(0px 0px 10px var(--skill-sql-bg));
}

.skill-element[skill="Android"]:hover {
    transition: .5s;

    background: var(--skill-android-bg);
    border: 2px solid var(--skill-android-border);

    filter: drop-shadow(0px 0px 10px var(--skill-android-bg));
}

.skill-element[skill="GIT / GitHub"]:hover {
    transition: .5s;

    background: var(--skill-github-bg);
    border: 2px solid var(--skill-github-border);

    filter: drop-shadow(0px 0px 10px var(--skill-github-bg));
}

.skill-element[skill="Electron"]:hover {
    transition: .5s;

    background: var(--skill-electron-bg);
    border: 2px solid var(--skill-electron-border);

    filter: drop-shadow(0px 0px 10px var(--skill-electron-bg));
}

.skill-element[skill="Docker"]:hover {
    transition: .5s;

    background: var(--skill-docker-bg);
    border: 2px solid var(--skill-docker-border);

    filter: drop-shadow(0px 0px 10px var(--skill-docker-bg));
}

.skill-element[skill="Ktor"]:hover {
    transition: .5s;

    background: var(--skill-ktor-bg);
    border: 2px solid var(--skill-ktor-border);

    filter: drop-shadow(0px 0px 10px var(--skill-ktor-bg));
}